version 6.2.1

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect
generate_load_scripts: true

nuget NodaTime
nuget Elmish
nuget Serilog.Enrichers.Thread
nuget Serilog.Sinks.Seq
nuget TaskBuilder.fs
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Serilog.Formatting.Compact

nuget Fable.Elmish
nuget Fable.Promise
nuget Fable.Browser.Dom
nuget Fable.Browser.Url
nuget Fable.Browser.WebSocket

nuget Thoth.Json
nuget Thoth.Json.Net

nuget Microsoft.SourceLink.GitHub
nuget Microsoft.Build.Tasks.Git
nuget Microsoft.SourceLink.Common

