version 5.172.4

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect
generate_load_scripts: true

nuget NodaTime
nuget Elmish
nuget Serilog.Enrichers.Thread
nuget Serilog.Sinks.Seq
nuget TaskBuilder.fs
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Serilog.Formatting.Compact
nuget Serilog.Enrichers.Demystify

nuget Fable.Elmish 1.0.3
nuget Fable.JsonConverter
nuget Fable.Websockets.Elmish

nuget Thoth.Json 1.0.0
nuget Thoth.Json.Net 1.0.0

group Build
    source https://nuget.yjpark.org/nuget/dap
    source https://www.nuget.org/api/v2
    storage: none
    framework: netstandard2.0

    nuget Dap.Build

    clitool dotnet-sourcelink
    nuget Microsoft.SourceLink.GitHub 1.0.0-beta-62925-02
    nuget Microsoft.Build.Tasks.Git 1.0.0-beta-62925-02
    nuget Microsoft.SourceLink.Common 1.0.0-beta-62925-02

