version 5.161.3

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect
generate_load_scripts: true

nuget NodaTime
nuget Elmish
nuget Serilog.Enrichers.Thread
nuget Serilog.Sinks.Seq
nuget TaskBuilder.fs
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Serilog.Formatting.Compact
nuget Serilog.Enrichers.Demystify

nuget Fable.Elmish 1.0.3
nuget Fable.Websockets.Elmish

nuget Thoth.Json 1.0.0
nuget Thoth.Json.Net 1.0.0

group Build
    storage:none
    source https://www.nuget.org/api/v2
    framework: netstandard2.0

    clitool dotnet-fake
    nuget Fake.Core.Target
    nuget Fake.Core.Process
    nuget Fake.Core.String
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.NuGet
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Tools.Git


